<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/index.css">

</head>

<body>

    <form action="http://localhost:5000/login" method="POST">
        <div class="d-flex justify-content-center">
            <input type="text" name="pin-1" id="" maxlength="1">
            <input type="text" name="pin-2" id="" maxlength="1">
            <input type="text" name="pin-3" id="" maxlength="1">
            <input type="text" name="pin-4" id="" maxlength="1">
            <input type="text" name="pin-5" id="" maxlength="1">
            <input type="text" name="pin-6" id="" maxlength="1">
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="LOGIN" name="login">
        </div>
    </form>

</body>


</html>